
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OSX
.DS_Store

# NodeJs
node_modules/
npm-debug.log
yarn-error.log

# NextJs
.next/
out/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Assets
/.htaccess